<div id="pageOne" class="slider">
		<!--Page one consists of the parallax slider alone-->
		<div id="da-slider" class="da-slider"><!--Parallax slider starts here-->
				<div class="da-slide">
					<h2>Harry Potter</h2>
					<p>"After all these time?" "Always!!"-Snape</p>
					<!-- <a href="#" class="da-link">Read more</a> -->
					<div class="da-img"><img src="app/images/hp.jpg" alt="harry potter" /></div>
				</div>
				<div class="da-slide">
					<h2> Alice in Wonderland</h2>
					<p>"'I wonder if I've been changed in the night? Let me think: was I the same when I got up this morning? I almost think I can remember feeling a little different. But if I'm not the same, the next question is 'Who in the world am I?' Ah, that's the great puzzle!'"- Lewis Carroll,, Ch. 2</p>
					<!-- <a href="#" class="da-link">Read more</a> -->
					<div class="da-img"><img src="app/images/alice.jpg" alt="alice in wonderland" /></div>
				</div>
				<div class="da-slide">
					<h2>Immortals of Meluha</h2>
					<p>"Har Har Mahadev!!", said Shiva as he lead the Suryavanshis to war</p>
					<!-- <a href="#" class="da-link">Read more</a> -->
					<div class="da-img"><img src="app/images/meluha.jpg" alt="meluha" /></div>
				</div>
				<div class="da-slide">
					<h2>The Lost Symbol</h2>
					<p>“To live in the world without becoming aware of the meaning of the world is like wandering about in a great library without touching the books.” -Dan Brown</p>
					<!-- <a href="#" class="da-link">Read more</a> -->
					<div class="da-img"><img src="app/images/brown.jpg" alt="the lost symbol" /></div>
				</div>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
		</div>
		<!--Parallax slider ends here-->
</div><!--Page One ends here-->
