<section id="login">
    <span id="invalid"></span>
	<form>
		<fieldset>
			<legend>Login</legend>
            
			<label>User Name :</label><input type="text" name="uname" placeholder="Enter your username" id="userName" />
			<label>Password :</label><input type="password" name="pwd" id="pwd" />
			<input id="loginButton" type="button" value="Login"/>
			<input id="cancelButton" type="reset" value="cancel"/>
            <input id="signUp" type="button" value="Sign Up"/>
		</fieldset>
	</form>

</section>
<section id="register">
    <form>
        <fieldset>
            <legend>Register</legend>
            <label>Name :</label><input type="text" name="fName" placeholder="Enter your Name" id="fName" />
            <label>User Name :</label><input type="text" name="uname" placeholder="Enter your username" id="newUser" />
            <label>Password :</label><input type="password" name="pwd" id="newPwd" />
            <input id="save" type="button" value="Save"/>
            <input id="cancel" type="button" value="cancel"/>
        </fieldset>
    </form>
    <span id="invalid"></span>
</section>
<!--
<div id="login-box" class="login-popup">
<a href="#" class="close"><img src="" class="btn_close" title="Close Window" alt="Close" /></a>
  <form method="post" class="signin" action="#">
        <fieldset class="textbox">
        <label class="username">
        <span>Username or email</span>
        <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
        </label>
        <label class="password">
        <span>Password</span>
        <input id="password" name="password" value="" type="password" placeholder="Password">
        </label>
        <button class="submit button" type="button">Sign in</button>
        <p>
        <a class="forgot" href="#">Forgot your password?</a>
        </p>        
        </fieldset>
  </form>
</div>-->