<!--Page Two Starts here-->
		
			<section id="pageTwo" class="topTrends">
			<h3>Top Trending Books</h3>
				<article id="bookDetails">
					<div class="remTwo"></div>
				</article>

				<span id="topTrendings">
					<ul>
						<li><span id="leftArrow"></span></li>
						<li><figure class="topTrendList"></figure></li>
						<li><figure class="topTrendList"></figure></li>
						<li><figure class="topTrendList"></figure></li>
						<li><figure class="topTrendList"></figure></li>
						<li><figure class="topTrendList"></figure></li>
						<li><span id="rightArrow"></span></li>

					</ul>
					<div class="clear"></div>
				</span>
				<a id="goBack" href="javascript:void(0)">Go Back To Top Trending List>>></a>
			<h3>New Releases</h3>
				<article id="authorDetails">
					<div class="remThree"></div>
				</article>
				<span id="topAuthors">
					<ul>
						<li><span id="leftArrowTwo"></span></li>
						<li><figure class="topAuthorList"></figure></li>
						<li><figure class="topAuthorList"></figure></li>
						<li><figure class="topAuthorList"></figure></li>
						<li><figure class="topAuthorList"></figure></li>
						<li><figure class="topAuthorList"></figure></li>
						<li><span id="rightArrowTwo"></span></li>

					</ul>
					<div class="clear"></div>
				</span>
				<a id="goBack2" href="javascript:void(0)">Go Back To Top Authors>>></a>
			</section>
		
		
		<!--Page two ends here-->