<section id="pageFour" class="read">
			<h3>Some Books To Read</h3>
			<section id="image-section">
			<!--Image section starts here-->
			<figure class="readBooks">
				<img name="read" src="app/images/image1.jpg"  />
				<figcaption>Catching Fire</figcaption>
			</figure>
			<figure class="readBooks">
				<img name="read" src="app/images/image2.jpg"/>
				<figcaption>Divergent</figcaption>
			</figure>
			<figure class="readBooks">
				<img name="read" src="app/images/image3.jpg" />
				<figcaption>Fifty shades of grey</figcaption>
			</figure>
			<figure class="readBooks">
				<img name="read" src="app/images/image4.jpg"/>
				<figcaption>Harry potter</figcaption>
			</figure>
			<figure class="readBooks">
				<img name="read" src="app/images/image5.jpg" />	
				<figcaption>The  Hobbit</figcaption>
			</figure>
			<!--image section ends here-->
			<p>Click on any book to read</p>
			</section>

			<!-- iframe section starts here-->
			<iframe id="book" src="" width="700" height="300"></iframe>
			<!--iframe ends here-->
</section>

