<!--Start of PAGE THREE-->
		<section id="pageThree" class="search">
			<h3>Search For Your Favourite Book</h3>
			<fieldset>
				<label>Search :</label><input type="search" id="searchBox" placeholder="Enter book name (or) author (or) isbn"/>
				<input type="button" id="searchButton" value="Search" />
			</fieldset>
				<article id="mainBook">
					<div class="remOne"></div>
				</article>
				<article id="simBookDisp">
					<img class="remOne"src=""/>
				</article>
</section>
<!--PAge Three ends here-->
